.sidebar-ad {
  position: absolute; /* Абсолютное позиционирование для перемещения блока */ 
  width: 200px; /* Ширина рекламного блока */
  height: 100vh; /* Высота рекламного блока (или динамическое значение) */
}

#institution_type{
    background-color: #FFA30F;
}

#degree_type {
    background-color: #A0C1B9;
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}

#subject_study_type {
    background-color: #586C90;
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}

.time_summary{
    color: #1E2F50;
    background-color: #f2f2f2;
    font-size: 14px;
    padding: 3px;
    border-radius: 5px;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  background: white;
  margin: 0;
  padding: 0;
  color: #333;
}

.timeline {
    position: relative;
}

.timeline::before {
    content: ""; /* Необходимо для создания псевдоэлемента */
    position: absolute;
    left: 190px; 
    top: 5px;
    bottom: 10px;
    width: 1px; /* Ширина линии */
    background-color: #777; /* Цвет линии */
}





.entry::before {
    content: "";
    position: absolute;
    left: 186px; /* Смещает точку влево к линии времени */
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #777;
    z-index: 1;
    margin-top: 20px;
}


.entry {
    padding-left: 80px;
    display: flex;
    align-items: baseline;
    margin: 5px 0;
}

.date {
    color: #777;
    min-width: 100px; /* Ensures sufficient width for two-line dates */
    line-height: 1.5; /* Proper spacing between two lines */
}


.entry p {
    margin: 0;
    padding-left: 10px; /* Space between date and description */
    padding-bottom: 10px;
}





.company{
    background-color: #E5E9EF ;
    color: #1E2F50;
    border-radius: 5px;
    padding: 3px;
}

#role{
    background-color: #E5E9EF ;
    color: #1E2F50;
    border-radius: 5px;
    padding: 3px;
}


#position{
    background-color: #1E2F50 ;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

#type_of_activity{
    background-color: #A0C1B9 ;
    color: white;
    border-radius: 5px;
    padding: 3px;
}





.colorful-ai {
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #1e2f4f,
    /* Professional Skills - Deep navy-blue */ #ffb02e,
    /* Cultural Fit - Golden yellow */ #a0c1b9,
    /* Education - Soft turquoise */ #6c7b95,
    /* Portfolio - Gray-blue */ #f39c6b,
    /* References - Soft orange */ #e5e9f0 /* Languages - Light grayish-blue */
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientShift 3s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.analysis-results {
  display: flex;
  flex-direction: column;
}

/*
.analysis-results {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
*/

#loaded-cards {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.category-card {
  position: relative;
  padding: 15px;
  border-radius: 8px;
  background-color: #f4f4f4;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.analysis-results-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
}

.percentage-badge {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 7px;
  border-radius: 5px;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-title {
  font-size: 1.1em;
  font-weight: bold;
}

.category-text {
  font-size: 0.9em;
  margin-top: 10px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #1e2f4f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-spinner p {
  font-size: 16px;
  color: #555;
  margin-top: 10px;
}

.language-box {
  background-color: #777;
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.language-box.error {
  background-color: #dc3545; /* Red background for errors */
}

#language-detected {
  color: #888;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-left: 10%;
  margin-right: 10%;
}

#result-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 80px;
  padding-right: 10%;
}

.column {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-right: 4px;
  margin-left: 4px;
  visibility: hidden;
}

.column h4 {
  text-align: center;
  font-size: 1.1em;
  color: #1e2f4f; /* Navy blue for headings */
  margin-top: 5px;
  margin-bottom: 5px;
}

canvas {
  width: 100%;
  max-width: 250px;
  display: block;
  margin-left: 0%; /* Adjust left margin to position it further to the left */
  margin-right: auto; /* Automatically adjusts the right margin */
  margin-bottom: 1rem;
}

.chart-container {
  display: flex;
  justify-content: flex-start; /* Aligns the canvas to the left */
  align-items: center;
  height: 200px;
  margin-left: 10%;
  margin-right: 20px;
}

#donutChart {
  height: 140px;
}

.badge-analysis {
  display: inline-block;
  width: 24px;
  height: 12px;
  border-radius: 10%;
  margin-right: 10px;
}

.subcategory-list {
  margin: 5px 0 15px 22px;
  padding-left: 0 !important;
}

.subcategory-list li {
  list-style-type: none;
  font-size: 14px;
  color: #333;
  padding-left: 5%;
}

.badge-professional {
  background-color: #1e2f4f; /* Navy blue */
}

.badge-cultural {
  background-color: #ffb02e; /* Golden yellow */
}

.badge-education {
  background-color: #a0c1b9; /* Soft turquoise */
}

.badge-portfolio {
  background-color: #6c7b95; /* Gray-blue */
}

.badge-references {
  background-color: #f39c6b; /* Soft orange */
}

.badge-languages {
  background-color: #e5e9f0; /* Light grayish-blue */
}

.multi-column-text {
  column-count: 3; /* Number of columns */
  column-gap: 20px; /* Gap between columns */
}

#text-container {
  column-count: 3; /* Creates 3 columns */
  column-gap: 5px; /* Space between columns */
  max-height: 250px; /* Adjust this based on the rectangle's height */
  overflow: hidden; /* Ensures text doesn't overflow the container */
}

.category {
  break-inside: avoid; /* Prevent categories from breaking across columns */
  margin-bottom: 20px;
}

.chartAndInfo {
  display: flex;
}

.highlight {
  width: 220px;
  display: flex;
  align-items: center;
  padding-left: 0 !important;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  padding-left: 80px;
  padding-right: 10%;
}

textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #586c90;
  border-radius: 5px;
  font-size: 1rem;
  resize: vertical;
  box-sizing: border-box;
}

/* Button styling */
.analyze-btn {
  background-color: #586c90;
  color: white;
  border: none;
  margin-left: 80px;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-top: 4px;
  padding-bottom: 4px;
}

.analyze-btn:hover {
  background-color: #ffa30f;
}

.achievement-carousel {
  display: flex;
  gap: 20px;
  padding: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  height: 200px;
}

.achievement-item {
  position: relative;
  height: auto;
  width: auto;
  flex-shrink: 0;
  min-width: 120px;
}

.achievement-item img {
  transition: transform 0.3s ease;
  max-height: 100%;
  width: auto;
  z-index: 1;
  object-fit: contain;
}

.achievement-item:hover img {
  transform: scale(1.07);
}

#category-filter-certificates {
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  transition: box-shadow 0.3s ease;
}

#category-filter-certificates:focus {
  box-shadow: 0 0 5px rgba(16, 39, 82, 0.2);
  outline: none;
}

#technology-filter-certificates {
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  transition: box-shadow 0.3s ease;
}

#technology-filter-certificates:focus {
  box-shadow: 0 0 5px rgba(16, 39, 82, 0.2);
  outline: none;
}

#filter-certificates-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.books-carousel {
  display: flex;
  gap: 20px;
  padding: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  height: 220px;
}

.photo-carousel {
    display: flex;
    gap: 20px;
    padding: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 220px;
}



.book-item {
  position: relative;
  height: auto;
  width: auto;
  flex-shrink: 0;
  min-width: 120px;
}

.book-item img {
  transition: transform 0.3s ease;
  max-height: 100%;
  width: auto;
  z-index: 1;
  object-fit: contain;
}

.book-item:hover img {
  transform: scale(1.07);
}

#category-filter-books {
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  transition: box-shadow 0.3s ease;
}

#category-filter-books:focus {
  box-shadow: 0 0 5px rgba(16, 39, 82, 0.2);
  outline: none;
}

#filter-books-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#news-container {
  width: 80%;
  margin: 0 auto;
  padding: 15px;

  border-radius: 8px;
  margin-top: 20px;
}

#news-list {
  list-style: none;
  padding: 0;
}

.news-item {
  position: relative;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  height: 220px;
}

.news-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  z-index: 10;
}

.badge-update {
  background-color: #030810;
}

.badge-milestone {
  background-color: #ffa30f;
}

.badge-project {
  background-color: #80bdae;
}

.badge-news {
  background-color: #586c90;
}

.news-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  object-position: center;
}

.news-text {
  padding: 10px 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.news-title h3 {
  margin: 0 0 2px 0;
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.2;
  padding-right: 40px;
}

.news-meta {
  color: #777;
  font-size: 0.85em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.news-description {
  color: #555;
  font-size: 0.9em;
  line-height: 1.4;
  overflow: hidden;
  margin-top: 2px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#filter-container {
  width: 80%;
  margin: 0 auto 15px auto;
  padding: 8px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#filter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Minimal spacing between elements */
  flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
}

#filter-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolygon points='2,4 6,0 10,4' fill='%23333'/%3E%3Cpolygon points='2,8 6,12 10,8' fill='%23333'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

#filter-form select,
#filter-form input[type="date"] {
  padding: 8px 12px; /* Padding for a balanced look */
  font-size: 0.8em;
  margin: 0;
  width: 150px;
  height: 36px;
  color: #333; /* Match text color with other elements */
  border: 1px solid #ccc; /* Border color consistent with other inputs */
  border-radius: 10px; /* Match border-radius with other elements */
  box-sizing: border-box;
  background-color: #fff; /* Ensure the background is white */
}

.date-filter-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.date-badge {
  font-size: 0.8em;
  padding: 2px 6px;
  color: #333; /* Match text color with other elements */
  background-color: transparent; /* No background */
  border-radius: 10px; /* Match border-radius with other elements */
}

#project-website-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.website-link-container {
  display: flex;
  align-items: center;
}

#project-website {
  margin-left: 1px;
}

/* Center the link within the parent container */
.centered-container {
  text-align: center;
}

.uk-button.small-button {
  padding: 8px 10px;
  font-size: 16px;
  line-height: 1;
  border-radius: 5px;
}

.sidebar {
  background-color: #fff;
  padding: 0px 0;
  width: 235px;
  border-radius: 20px 0 0 20px;
  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;
  top: 0;
}

.profile-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto 20px auto;
}

.note {
  position: absolute;
  top: 10px;
  right: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  max-width: 200px;
}

.note-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note-text.expanded {
  white-space: normal;
  overflow: visible;
}

.profile-container {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.uk-comment-title {
  text-align: center;
  font-weight: bold;
  line-height: 0.8 !important;
}

#degree-title-en {
  margin: 0; /* Remove any default margin */
  font-size: 1em; /* Adjust the font size if necessary */
  color: #555; /* Dark color for the title */
}

#degree-title-de {
  margin: 0; /* Remove any default margin */
  font-size: 1em; /* Adjust the font size if necessary */
  color: #555; /* Dark color for the title */
}

#profession-title {
  margin: 0; /* Remove any default margin */
  font-size: 0.9em; /* Slightly smaller font size than the title */
  color: #777; /* Pleasant gray color for the subtitle */
}

.uk-comment-body {
  text-align: center;
  color: #003366;
  margin-top: 5px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li button {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar nav ul li button:hover {
  background-color: #f0f0f0;
}

.sidebar nav ul li button:active {
  transform: translateY(0);
}

.sidebar nav ul li button.active {
  border: 1px solid #ccc;
}

.content {
  flex: 1;
  border-radius: 0 20px 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: calc(100% - 290px);
  min-height: 400px;
  background-color: #fff;
}

.section {
  display: none;
  background-color: #fff;
  padding: 50px 0;
  border-radius: 20px;
  width: 1000px;
  box-sizing: border-box;
  min-height: 400px;
  margin-left: 30px;
}

.section p {
  padding-left: 80px;
  padding-right: 10%;
  box-sizing: border-box;
}

.greeting {
  text-align: center;
  font-size: 42px;
  font-weight: 200;
  color: #333;
  letter-spacing: 2px;
  padding-bottom: 25px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.greeting span {
  display: block;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.date-stamp {
  display: block;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  color: #555;
  text-align: right;
  font-style: italic;
  letter-spacing: 0.5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#content-docs {
  overflow-x: auto;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrolling-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  padding: 0;
  margin: 0;
}

.button-docs {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #e5e5e5;
  color: #000;
  text-decoration: none;
  border-radius: 5%;
  margin: 0 5px;
  text-align: center;
  font-size: 14px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
  min-width: 150px;
  max-width: 150px;
  box-sizing: border-box;
}

.button-docs:hover {
  background-color: #f0f0f0;
  text-decoration: none;
  color: #000;
}

.button-docs.clicked {
  background-color: #f0f0f0;
}

/* Скрыть стандартный скроллбар */
#content-docs::-webkit-scrollbar {
  display: none;
}

#content-en {
  padding-top: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#content-de {
  padding-top: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#welcome-en {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#welcome-de {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#new-opportunities-en {
  padding-top: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#new-opportunities-de {
  padding-top: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#current-location-en {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#current-location-de {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#schedule-meeting-en {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#schedule-meeting-de {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.section ul {
  padding-left: 80px;
  padding-right: 10%;
  box-sizing: border-box;
}

.section.active {
  display: block;
}

.section.hidden {
  display: none;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.stat {
  background-color: #e9ecef;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  flex: 1 1 100px;
}

.stat strong {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.stat span {
  font-size: 14px;
  color: #555;
}

.divider {
  border-top: 1px solid #ccc;
  margin: 16px 0;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 300px;
  margin-bottom: 6px;
  margin-left: 25px;
  text-decoration: none;
  color: inherit;
}

.status-item i,
.status-item img {
  font-size: 2em;
  margin-right: 10px;
  color: #003366;
  width: 24px;
  height: 24px;
  fill: #003366;
}

.status-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.status-item p {
  margin: 0;
  text-align: left;
  color: inherit;
}

.status-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: #003366;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: none;
}

.mobile-icons {
  display: none;
  height: 40px;
}

.icon-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.resume-row {
  text-align: center;
}

.status-icon-mobile {
  width: 36px;
  height: 36px;
  margin: 0 5px;
}

.contact-item .contact-icon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.contact-item {
  flex: 1 1 calc(33.333% - 10px);
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
  text-decoration: none;
  color: inherit;
}

.contact-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.filters .uk-select {
  border-radius: 10px;
}

.sidebar-image {
  display: none;
  justify-content: center;
  margin-top: 20px;
}

.additional-image {
  max-width: 100%;
  height: auto;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-item {
  flex: 1 1 calc(33.333% - 10px);
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-item .contact-icon {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.contact-detail {
  margin: 0;
  color: #003366;
}

.contact-detail a {
  color: inherit;
  text-decoration: none;
}

.contact-label {
  color: #888;
  margin: 0;
  margin-top: 1px;
}

.uk-modal-dialog {
  top: 20px;
}

.uk-modal-close {
  background-color: #003366;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
}

.uk-modal-close:hover {
  background-color: #002244;
}

.project {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px !important;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
  cursor: pointer;
}

.badge-ribbon {
  position: relative;
  top: 21px;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 9px 0 6px;
  background-color: #003366;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  pointer-events: auto;
  transition: all 0.1s ease-in;
}

#calendly-widget{
    width: 100%;
}

.card:hover {
  transform: scale(1.02);
}

.card-img-top {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
}



.card-body-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}

.icons-row {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 10px 0;
  z-index: 1;
  color: black;
}

.technology-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  z-index: 2;
}

.card-title {
  color: #ddd;
  font-size: 1.25rem;
  margin-top: 10px;
}

.card-text {
  color: #ddd;
  margin: 0;
  margin-top: 30px;
}

.close-button {
  position: absolute;
  top: 1px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.close-button img {
  width: 40px;
  height: 40px;
  transition: transform 0.5s ease-in-out;
}

.close-button:focus,
.close-button:hover {
  outline: none;
  background: none;
  border: none;
}

.close-button:hover img {
  transform: rotate(360deg);
}

.github-stats-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.github-stats-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: none;
  color: inherit;
}

.github-stats-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.github-stats-icon {
  width: 36px;
  height: 36px;
  margin-right: 5px;
}

.github-stats-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.github-stats-detail {
  margin: 0;
  color: gray;
  font-size: 32px;
  text-align: center;
}

.github-stats-label {
  color: #888;
  margin: 0;
  margin-top: 5px;
  padding-left: 10px !important;
}

#github-stats-text {
  display: none;
  color: #888;
  margin-bottom: 10px;
  text-align: center;
}

.popup-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: relative;
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 900px;
  height: 80vh;
  overflow-y: auto;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.popup-close:hover,
.popup-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.popup-word {
  color: #003366;
  text-decoration: underline;
  cursor: pointer;
}

.click-work {
  color: #003366;
  text-decoration: underline;
  cursor: pointer;
}

.click-news {
  color: #003366;
  text-decoration: underline;
  cursor: pointer;
}

.click-contact {
  color: #003366;
  text-decoration: underline;
  cursor: pointer;
}

.language-switcher {
  position: fixed !important;
  top: 10px;
  right: 5px;
  z-index: 1000;
  display: flex;
  gap: 5px;
}

.btn {
  border: 1px solid #cccccc !important;
  padding: 3px 10px !important;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
  outline: none;
  box-shadow: none;
  font-weight: bold;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn.active#btn-en {
  background: #999999;
  color: white;
}

.btn.active#btn-de {
  background: #999999;
  color: white;
}

.btn:not(.active) {
  background-color: transparent;
  color: #888888;
}

.btn:hover:not(.active) {
  background-color: #f0f0f0;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: #6c757d;
  border-top: 1px solid #e9ecef;
}

.footer p {
  margin: 0;
}

.articles-section {
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.articles-section h3 {
  padding-left: 10%;
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: 650;
  color: #1d304f;
}

.articles-list {
  padding-left: 10%;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #cccccc transparent; /* Firefox */
  max-height: 100px; /* Adjust the height based on your design requirements */
  overflow-y: auto;  /* Enables vertical scrolling */
}

.articles-list::-webkit-scrollbar {
  width: 6px;
}

.articles-list::-webkit-scrollbar-track {
  background: transparent;
}

.articles-list::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 10px;
}

.articles-list::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

.article-item a {
  text-decoration: none;
  color: #777777;
  font-weight: 300;
  font-size: 14px;
  padding: 5px 0;
}

.article-item a:hover {
  text-decoration: underline;
}

@media (min-width: 1181px) {
  .carousel-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
  }

  .project-card {
    flex: 0 0 100%;
    scroll-snap-align: start;
    margin-right: 10px;
    width: 90%; 
  }

  #content-docs {
    padding-left: 10%;
    padding-right: 10%;
  }

  .news-content {
    flex-direction: row;
    height: auto;
    flex: 1;
  }

  .news-image {
    width: 35%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    object-fit: contain;
  }

  .news-text {
    width: 65%;
    padding: 5px 15px;
  }

  .news-item {
    height: 180px;
  }

  .news-title h3 {
    padding-right: 70px;
  }

  .contact-info {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .desktop-only {
    display: block;
  }

  .container {
    flex-direction: row;
  }

  .sidebar {
    border-radius: 20px 0 0 20px;
    left: 55px;
  }

  .content {
    border-radius: 0 20px 20px 0;

    width: calc(100% - 290px);
  }

  .sidebar nav ul {
    display: block;
  }

  .sidebar nav ul li {
    margin-right: 0;
  }

  .status {
    display: block;
  }

  .sidebar-image {
    margin-top: 115px;
    display: flex;
  }

  .filters {
    padding-left: 80px;
    padding-right: 10%;
    box-sizing: border-box;
  }

  #projects-grid {
    padding-left: 80px;
    padding-right: 10%;
    box-sizing: border-box;
  }

  .section h4 {
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .github-stats-info {
    padding-left: 80px;
    padding-right: 10%;
    box-sizing: border-box;
  }
}

@media (max-width: 1180px) {

    #photo-container{
        padding-left: 140px !important;
    }

    #photo-container-2{
        padding-left: 140px !important;
    }

    .timeline::before {
        left: 110px; 
    }

    .entry {
        padding-left: 0px;
    }

    .entry::before {
        left: 106px; /* Смещает точку влево к линии времени */
    }

    .image-container {
        padding-left: 20px; /* уменьшаем отступ слева */
        padding-right: 20px; /* уменьшаем отступ справа */
    }

    .image-container img {
        height: auto; /* позволяет высоте автоматически адаптироваться */
        max-height: 100px; /* максимальная высота изображения на маленьких экранах */
        width: 100%; /* ширина изображения становится адаптивной */
        flex-shrink: 1; /* позволяет изображению уменьшаться */
    }

  .carousel-container {
        display: block;
  }

  .sidebar-ad,
  #ad-info,
  #ads-1,
  #ads-2,
  #ads-3 {
    display: none;
  }

  #job-match-button {
    display: none;
  }

  .greeting {
    font-size: 16px;
  }

  #content-docs a {
    flex-basis: calc(50% - 20px);
    font-size: 12px;
  }

  .spreadsheet-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
  }

  .uk-button.small-button {
    padding: 8px 6px;
    font-size: 14px;
    border-radius: 5px;
  }

  #news-container {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;

    margin: 0px auto 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    max-width: 100% !important;
  }



  .mobile-only {
    display: block;
  }

  #calendly-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-right: 0;
    border-radius: 20px 20px 0 0;
  }

  .content {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }

  .sidebar nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sidebar nav ul li {
    flex: 1;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .sidebar nav ul li button {
    padding: 5px 0;
    font-size: 12px;
  }

  .mobile-icons {
    display: flex;
    justify-content: center;
  }

  .status {
    display: none;
  }

  .uk-comment-body {
    margin-bottom: 20px;
  }

  .divider {
    display: none;
  }

  .section {
    padding: 0 0;
    width: auto;
    margin-left: 0px;
  }

  .contact-info {
    flex-direction: column;
  }

  .filters .uk-select {
    font-size: 13px;
  }


  .section p {
    padding-left: 0;
    padding-right: 0;
  }

  .note {
    position: absolute;
    top: -5px;
    margin-right: 50%;
  }

  .language-switcher {
    position: fixed !important;
    top: 20px;
    right: 100px;
    left: auto;
    justify-content: flex-end;
  }

  .hidden {
    opacity: 0;
    pointer-events: none;
  }

  .calendly-button {
    background-color: #003366;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
  }

  .calendly-button:hover {
    background-color: #002244;
    text-decoration: none;
    color: #ffffff;
  }

  .desktop-only-p {
    display: none;
  }

  .github-stats-info {
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    justify-content: space-evenly;
  }

  .github-stats-item {
    margin-bottom: 10px;
  }

  .github-stats-icon {
    width: 24px;
    height: 24px;
  }

  .github-stats-detail {
    font-size: 24px;
  }

  .github-stats-label {
    display: none;
    font-size: 12px;
  }

  #github-stats-text {
    display: block;
  }

  #about-me{
    width: auto;
  }

  #achievement-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  #books-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }




  .section ul {
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
  }

  #filter-container {
    width: 100%;
    padding: 5px;
  }

  #filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
  }

  /* First line: Category and Author filters */
  #category-filter,
  #author-filter {
    flex: 1 1 calc(50% - 2px); /* Each takes up 50% of the width */
  }

  /* Second line: Date filters */
  .date-filter-group {
    flex: 1 1 calc(50% - 10px);
  }

  #filter-form select,
  #filter-form input[type="date"] {
    padding: 6px 10px;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    border-radius: 10px; /* Ensure consistent styling on mobile */
  }

  .date-badge {
    font-size: 0.7em;
    padding: 2px 5px;
    color: #333; /* Match text color with other elements */
    background-color: transparent; /* No background */
    border-radius: 10px; /* Match border-radius with other elements */
    white-space: nowrap; /* Prevents the label from wrapping */
  }

  .news-title h3 {
    padding-right: 0px;
  }

  .news-item {
    flex-direction: column;
    height: 100%;
  }

  .news-text {
    padding: 15px;
  }
}

@media (max-width: 700px) {
    .language-switcher {
        flex-direction: column;
        top: 10px;
        right: 10px;
        left: auto;
      }
}

@media (max-width: 380px) {


  .btn {
    margin-bottom: 2px;
  }

  #content-docs a {
    flex-basis: 100%;
    font-size: 12px;
  }
}
