.language-switcher {
    position: fixed !important;
    top: 20px;
    right: 10px;
    left: auto;
    justify-content: flex-end;
  }

.language-switcher {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  display: flex;
  gap: 5px;
}